.translation_block {
	background-color: #ffe684;
	border: 1px solid #fcca00;
	margin-bottom:10px;
	padding: 3px;
	text-align:justify;
}

.translation_english_input, .translation_current_input {
	width:928px;
	font-size: 12px;
	font-family: arial;
}	

.translation_english, .translation_current {
	font-size: 12px;
	color: #000;
	margin-top: 5px;
}

.translation_save {
	margin-top: 2px;
}

#explanation {
	text-align: justify;
	font-size:14px;
	padding:5px;
}

#percent_left {
	margin-top: 5px;
	font-weight: bold;
}